.faq__wrapper{
    padding-top: 80px;
    color: white;
}
.faq__container{
    padding-top: 80px;
    color: white;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.faq__spoiler{
    font-size: 80px;
    letter-spacing: -3px;
}
.block{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.block__item{
    width: 950px;
    border-top: 1px solid white;
}

.block__item.active{
    border-top: 3px solid white;
}
.block__title{
    font-size: 24px;
    margin: 40px 0;
    cursor: pointer;
}
.block__text{
    display: none;
    font-size: 16px;
    padding: 0 0 30px 0;
}

@media (max-width: 1200px) {
    .faq__container {
        display: flex;
        align-items: center;
        padding-top: 0;
    }
    .block,
    .block__item,
    .block__title,
    .block__text {
        width: 800px;
        margin: 0;
    }
    .faq__spoiler{
        font-size: 70px;
        padding-bottom: 30px;
    }
    .block__item {
        margin-bottom: 30px;
    }
    .block__title {
        margin-top: 25px;
    }
    .block__text {
        margin-top: 25px;
        padding: 0;
        line-height: 22px;
    }
}

@media (max-width: 992px) {
    .faq__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }
    .block,
    .block__item,
    .block__title,
    .block__text {
        width: 700px;
        margin: 0;
    }
    .faq__spoiler{
        font-size: 55px;
    }
    .block__item {
        margin-bottom: 30px;
    }
    .block__title {
        margin-top: 25px;
    }
    .block__text {
        margin-top: 25px;
        padding: 0;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .faq__container {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 0;
    }
    .block,
    .block__item,
    .block__title,
    .block__text {
        width: 320px;
        margin: 0;
    }
    .faq__spoiler{
        font-size: 45px;
        padding-bottom: 40px;
    }
    .block__item {
        margin-bottom: 40px;
    }
    .block__title {
        margin-top: 35px;
    }
    .block__text {
        margin-top: 35px;
        padding: 0;
        line-height: 22px;
    }
}
